:root {
    --sat: constant(safe-area-inset-top);
    --sat: env(safe-area-inset-top);

    --sar: constant(safe-area-inset-right);
    --sar: env(safe-area-inset-right);

    --sab: constant(safe-area-inset-bottom);
    --sab: env(safe-area-inset-bottom);

    --sal: constant(safe-area-inset-left);
    --sal: env(safe-area-inset-left);
}

#uw-main-button {
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 768px) {
    body {
        overflow: scroll;
    }
}
